html {
  font-size: 16px;
  overflow-x: hidden;
}

.font-white{
  color: #ffffff !important;
}

/* Main Secondary */
.g-bg-bitacoraPyme {
 /*background-color: #40b4e5  !important;*/
 background-color: #0071ce;
}

/* Main Secondary */
.g-bg-bitacoraPymeSec {
 /*background-color: #40b4e5  !important;*/
 background-color: #40b4e5;
}